body {
  background-color: green;
}

.houseCoins {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px dashed white;
  background-color: gold;
  position: fixed;
}

.playerCoins {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px dashed white;
  background-color: gold;
  position: fixed;
}

#container {
  border: 6px dashed;
  border-color: whitesmoke;
  border-radius: 100px;
  height: 615px;
  width: 528px;
  position: fixed;
  left: 375px;
  top: 2px
}


#alert {
  font-size: 17px;
  position: fixed;
  top: 364px;
  left: 540px;
  width: 380px;
}

#dealer {
  height: 200px;
  width: 100px;
  border: 2px dashed white;
  position: relative;
  top: 10px;
  left: 325px;
  font-size: 20px;
}

#player {
  height: 200px;
  width: 100px;
  border: 2px dashed white;
  position: relative;
  top: 200px;
  left: 325px;
  font-size: 20px;
}

#gameTitle {
  position: fixed;
  top: 220px;
  left: 468px;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  /*color: rgba(0,0,0,0.7);*/
  z-index: -10;
}

#leftCircle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid white;
  position: fixed;
  top: 400px;
  left: 450px;
}

#rightCircle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid white;
  position: fixed;
  top: 400px;
  left: 575px;
}

#dealerLabel {
  display: inline;
  position: fixed;
  top: 66px;
  left: 750px;
  width: 20px;
  overflow-wrap: break-word;
  font-size: 20px;
  color: white;
  z-index: -10;
}

#playerLabel {
  display: inline;
  position: fixed;
  top: 445px;
  left: 750px;
  width: 20px;
  overflow-wrap: break-word;
  font-size: 20px;
  color: white;
  z-index: -10;
}

.cardLook {
  border: 2px solid;
  text-align: center;
  height: 8px;
  text-align: left;
  background-color: rgba(243, 59, 59, 1);
  color: white;
  width: 96px;
  display: inline-table;
  text-align: center;
}



#bankTitle {
  position: fixed;
  top: 580px;
  left: 495px;
  font-size: 20px;
}


#bankAmount {
  position: fixed;
  top: 580px;
  left: 565px;
  font-size: 20px;
}

#leftTitle {
  width: 20px;
  text-align: center;
  height: 60px;
  display: inline-flex;
  position: fixed;
  top: 400px;
  left: 482px;
}
