body {
  background-color: green;
}

#container {
  border: 6px dotted;
  border-color: whitesmoke;
  border-radius: 100px;
  height: 615px;
  width: 528px;
  position: fixed;
  left: 92px;
  top: 2px
}


#alert {
  font-size: 30px;
  position: fixed;
  top: 364px;
  left: 300px;
}

#dealer {
  height: 200px;
  width: 100px;
  border: 2px dashed white;
  position: relative;
  top: 10px;
  left: 300px;
  font-size: 20px;
}

#player {
  height: 200px;
  width: 100px;
  border: 2px dashed white;
  position: relative;
  top: 200px;
  left: 300px;
  font-size: 20px;
}

#gameTitle {
  position: fixed;
  top: 220px;
  left: 180px;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  /*color: rgba(0,0,0,0.7);*/
}

#betCircle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px dashed white;
  position: fixed;
  top: 400px;
  left: 150px;
}

#betTitle {
  position: fixed;
  top: 495px;
  left: 170px;
  font-size: 20px;
}

#betAmount {
  position: fixed;
  top: 520px;
  left: 170px;
  font-size: 18px;
}

#bankTitle {
  position: fixed;
  top: 545px;
  left: 170px;
  font-size: 20px;
}

#bankAmount {
  position: fixed;
  top: 570px;
  left: 170px;
  font-size: 18px;
}
