body {
  background-color: green;
}

.houseCoins {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px dashed white;
  background-color: gold;
  position: fixed;
}

.playerCoins {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px dashed white;
  background-color: gold;
  position: fixed;
}

#container {
  border: 6px dashed;
  border-color: whitesmoke;
  border-radius: 100px;
  height: 615px;
  width: 528px;
  position: fixed;
  left: 375px;
  top: 2px
}

#alert {
  font-size: 17px;
  position: fixed;
  top: 364px;
  left: 387px;
  width: 520px;
  text-align: center;
}

#dealer {
  height: 200px;
  width: 100px;
  border: 2px dashed white;
  position: relative;
  top: 10px;
  left: 345px;
  font-size: 20px;
}

#player {
  height: 200px;
  width: 100px;
  border: 2px dashed white;
  position: relative;
  top: 190px;
  left: 345px;
  font-size: 20px;
}

#gameTitle {
  position: fixed;
  top: 248px;
  left: 400px;
  font-family: 'Lobster', cursive;
  font-size: 77px;
  margin: 0 50px;
  z-index: -10;
}

h4 {
  text-align: center;
  margin: 10px auto;
}

#makeBetButton:hover, #submitBetButton:hover, #quitButton:hover, #hitButton:hover, #standButton:hover, #continueButton:hover {
  background-color: yellow;
}

#makeBetButton {
  width: 90px;
  height: 50px;
  border-radius: 35%;
  border: 2px solid white;
  position: fixed;
  top: 400px;
  left: 420px;
  background-color: yellowgreen;
}

#submitBetButton {
  width: 90px;
  height: 50px;
  border-radius: 35%;
  border: 2px solid white;
  position: fixed;
  top: 460px;
  left: 420px;
  background-color: yellowgreen;
}

#hitButton {
  width: 90px;
  height: 50px;
  border-radius: 35%;
  border: 2px solid white;
  position: fixed;
  top: 460px;
  left: 520px;
  background-color: yellowgreen;
}

#standButton {
  width: 90px;
  height: 50px;
  border-radius: 35%;
  border: 2px solid white;
  position: fixed;
  top: 400px;
  left: 520px;
  background-color: yellowgreen;
}

#continueButton {
  width: 90px;
  height: 50px;
  border-radius: 35%;
  border: 2px solid white;
  position: fixed;
  top: 400px;
  left: 620px;
  background-color: yellowgreen;
}

#quitButton {
  width: 90px;
  height: 50px;
  border-radius: 35%;
  border: 2px solid white;
  position: fixed;
  top: 460px;
  left: 620px;
  background-color: yellowgreen;
}

#dealerLabel {
  display: inline;
  position: fixed;
  top: 66px;
  left: 770px;
  width: 20px;
  overflow-wrap: break-word;
  font-size: 20px;
  color: white;
  z-index: -10;
}

#playerLabel {
  display: inline;
  position: fixed;
  top: 435px;
  left: 770px;
  width: 20px;
  overflow-wrap: break-word;
  font-size: 20px;
  color: white;
  z-index: -10;
}

.cardLook {
  border: 2px solid;
  text-align: center;
  height: 8px;
  text-align: left;
  background-color: rgba(243, 59, 59, 1);
  color: white;
  width: 96px;
  display: inline-table;
  text-align: center;
}



#bankTitle {
  position: fixed;
  top: 580px;
  left: 505px;
  font-size: 20px;
}


#bankAmount {
  position: fixed;
  top: 580px;
  left: 575px;
  font-size: 20px;
}

#leftTitle {
  width: 20px;
  text-align: center;
  height: 60px;
  display: inline-flex;
  position: fixed;
  top: 400px;
  left: 482px;
}

#tooltip {
  position: fixed;
  right: 30px;
  top: 10px;
  color: white;
}
